<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
</head>

<header class="cabezera" >
        <h1><span>Cursos Wachenchauzer</span></h1>
        <p class="kicker">Facultad de Ingeniería de Buenos Aires</p>
</header>

{{content}}

</html>